#<filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
#    Header set Cache-Control "max-age=604800, public"
#</filesMatch>

<IfModule mod_rewrite.c>
RewriteEngine on

# Redirect to www. 
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]



RewriteCond $1 !^(index\.php|uploads|assets|_theme)
RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>